img {
    width: 200px;
    border-radius: 8px; 
    <!-- height: 90px; -->
}

th {
    font-size: 3em;
    background-color: #CD853F;
    padding: 20px;
    border-radius: 20px;
}

body {
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: antiquewhite;
}

table {
    background-color: #F0F8FF;
    width: 80%;
    border-radius: 20px;
}


td {
    padding: 25px;
}



